In [ ]:
# 1. What is 10 divided by 2? Show the answer as a float and an integer.

In [1]:
10/2

5.0

In [2]:
10//2

5

In [ ]:
# 2. What is the average of these scores: 80, 91, 99, 78, 95, 87, 92?

In [3]:
sc1=80
sc2=91
sc3=99
sc4=78
sc5=95
sc6=87
sc7=92
sum = (sc1 + sc2 + sc3 + sc4 + sc5 + sc6 + sc7)

average = sum / 7
print(average)

88.85714285714286

In [8]:
# 3. Fix the Python code on the next cell.  It is calculating the sales tax and total price (including sales tax) 
#    for 10 books when the price of a book is $49.95 and the tax rate is 6.5%

price = 49.95
qty = 10
tax = 6.5
subtotal = price * qty

total = subtotal + tax

# use formatted string
print("Price:\t\t$", price)
print("Quantity:\t$", qty)
print("------------------")
print("Subtotal:\t$", subtotal)
print("Sales Tax:\t$", tax)
print("------------------")
print("Total:\t\n$", total)

Price:		$ 49.95
Quantity:	$ 10
------------------
Subtotal:	$ 499.5
Sales Tax:	$ 6.5
------------------
Total:
$ 506.0